<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.7.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <!-- Left 1 Section Starts ///////////////////////////////// -->
          <div class="left_1">
            <div class="left_1_child_top">
              <img src="images/profile.png" alt="" />
            </div>
            <div class="left_1_child_midd"><%=user.name%></div>
            <div class="left_1_child_midd2"><%=user.profession%></div>
            <div class="left_1_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <!-- Left 2 Section Starts ///////////////////////////////// -->
          <div class="left_2">
            <div class="left_2_top">
              <p class="p_1">Age:</p>
              <p class="p_2"><%=user.age%></p>
            </div>
            <div class="left_2_midd">
              <p class="p_1">Residence:</p>
              <p class="p_2">BD</p>
            </div>
            <div class="left_2_midd2">
              <p class="p_1">Freelance:</p>
              <p class="p_available">Available</p>
            </div>
            <div class="left_2_bottom">
              <p class="p_1">Address:</p>
              <p class="p_2"><%=user.residence%></p>
            </div>
          </div>
          <div class="marginer"></div>
          <!-- Left 3 Section Starts ///////////////////////////////// -->
          <div class="left_3">
            <div class="left_3_first">
              <p class="left_3_title">Languages</p>
            </div>
            <div class="left_3_top left_3_all">
              <p><%=user.languages[0]%></p>
              <p>100%</p>
            </div>
            <div class="left_3_percentage">
              <img
                src="images/percentage_image/rectangle.svg"
                alt=""
                class="percent_img"
              />
            </div>
            <div class="left_3_midd left_3_all">
              <p><%=user.languages[1]%></p>
              <p>80%</p>
            </div>
            <div class="left_3_percentage">
              <img
                src="images/percentage_image/Line.svg"
                alt=""
                class="percent_img"
              />
            </div>
            <div class="left_3_bottom left_3_all">
              <p><%=user.languages[2]%></p>
              <p>70%</p>
            </div>
            <div class="left_3_percentage">
              <img
                src="images/percentage_image/Line1.svg"
                alt=""
                class="percent_img"
              />
            </div>
          </div>
          <div class="marginer"></div>
          <!-- Left 4 Section Starts ///////////////////////////////// -->
          <div class="left_4">
            <div class="left_4_first">
              <p class="left_4_title">Skills</p>
            </div>
            <div class="left_4_top left_4_all">
              <p><%=user.skills[0]%></p>
              <p>90%</p>
            </div>
            <div>
              <img
                src="images/percentage_image/left_4_img/left_4_1.svg"
                alt=""
              />
            </div>
            <div class="left_4_midd1 left_4_all">
              <p><%=user.skills[1]%></p>
              <p>85%</p>
            </div>
            <div>
              <img
                src="images/percentage_image/left_4_img/left_4_2.svg"
                alt=""
              />
            </div>
            <div class="left_4_midd2 left_4_all">
              <p><%=user.skills[2]%></p>
              <p>80%</p>
            </div>
            <div>
              <img
                src="images/percentage_image/left_4_img/left_4_3.svg"
                alt=""
              />
            </div>
            <div class="left_4_midd3 left_4_all">
              <p><%=user.skills[3]%></p>
              <p>75%</p>
            </div>
            <div>
              <img
                src="images/percentage_image/left_4_img/left_4_4.svg"
                alt=""
              />
            </div>
            <div class="left_4_bottom left_4_all">
              <p><%=user.skills[4]%></p>
              <p>85%</p>
            </div>
            <div>
              <img
                src="images/percentage_image/left_4_img/left_4_5.svg"
                alt=""
              />
            </div>
          </div>
          <div class="marginer"></div>
          <!-- Left 5 Section Starts ///////////////////////////////// -->
          <div class="left_5">
            <div>
              <p class="left_5_title">Extra Skills</p>
            </div>
            <div class="left_5_all">
              <div>
                <img src="icon/Icons.svg" alt="" />
                <p><%=user.extra_skills[0]%></p>
              </div>
              <div>
                <img src="icon/Icons.svg" alt="" />
                <p><%=user.extra_skills[1]%></p>
              </div>
              <div>
                <img src="icon/Icons.svg" alt="" />
                <p><%=user.extra_skills[2]%></p>
              </div>
              <div>
                <img src="icon/Icons.svg" alt="" />
                <p><%=user.extra_skills[3]%></p>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <!-- Left 5 Section Ends ///////////////////////////////// -->
        <!-- Middle Frame Starts ///////////////////////////////// -->
        <div class="midd_frame">
          <div class="midd_frame_top">
            <div class="midd_frame_top_all">
              <h1 class="midd_top_title"><%=user.work_place%></h1>
              <p class="midd_top_about">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Temporibus soluta saepe libero nesciunt quod placeat veniam
                illum magni aspernatur debitis ea in perspiciatis rem,
                doloremque suscipit amet est sit fuga.
              </p>
              <button class="midd_top_button">
                <a href="">HIRE ME &#10132;</a>
              </button>
            </div>
            <img src="images/your_image.png" class="midd_top_img" alt="" />
          </div>
          <div class="midd_frame_bottom">
            <div class="my_service">
              <h1 class="title">My Services</h1>
              <p class="info"><%=user.service_desc%></p>
            </div>
            <div class="midd_bottom_sections">
              <div class="midd_bottom_1 all_in_one">
                <img src="box_images/Icons_coding.svg" alt="" />
                <h1 class="title same">Web Development</h1>
                <p class="info one_p">Blog, E-commerce</p>
              </div>
              <div class="midd_bottom_2 all_in_one">
                <img src="box_images/illu.svg" alt="" />
                <h1 class="title same">UI/UX design</h1>
                <p class="info one_p">mobile app, website design</p>
              </div>
              <div class="midd_bottom_3 all_in_one">
                <img src="box_images/mic.svg" alt="" />
                <h1 class="title same">sound design</h1>
                <p class="info one_p">voice over, beat making</p>
              </div>
              <div class="midd_bottom_4 all_in_one">
                <img src="box_images/game.svg" alt="" />
                <h1 class="title same">game design</h1>
                <p class="info one_p">character design, props& objects</p>
              </div>
              <div class="midd_bottom_5 all_in_one">
                <img src="box_images/pho.svg" alt="" />
                <h1 class="title same">photography</h1>
                <p class="info one_p">portrait, product photography</p>
              </div>
              <div class="midd_bottom_6 all_in_one">
                <h1 class="title same">Advertising</h1>
                <p class="info one_p"><%=user.about_me%></p>
                <a href="" class="ordernow">ORDER NOW &raquo;</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Middle Frame Ends ///////////////////////////////// -->
        <!-- Right Frame Starts ///////////////////////////////// -->
        <div class="right_frame">
          <div class="contrast_img">
            <img src="btn_icon/Contrast.svg" alt="" />
          </div>
          <div class="right_icons">
            <div class="right_icon_1 iconlar">
              <img src="btn_icon/Home.svg" alt="" />
            </div>
            <div class="right_icon_2 iconlar">
              <img src="btn_icon/Service.svg" alt="" />
            </div>
            <div class="right_icon_3 iconlar">
              <img src="btn_icon/Cv.svg" alt="" />
            </div>
            <div class="right_icon_4 iconlar">
              <img src="btn_icon/Portfolio.svg" alt="" />
            </div>
            <div class="right_icon_5 iconlar">
              <img src="btn_icon/Blog.svg" alt="" />
            </div>
            <div class="right_icon_6 iconlar">
              <img src="btn_icon/Contact.svg" alt="" />
            </div>
          </div>
        </div>
        <!-- Right Frame Ends ///////////////////////////////// -->
      </div>
    </div>
  </body>
</html>
